<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123456789012-aaa1aaaaaaaaa23aa456aa78aaaaaaa9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123456789012-aaa1aaaaaaaaa23aa456aa78aaaaaaa9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>123456789012-aaa1aaaaaaaaa23aa456aa78aaaaaaa9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AAaaAaAAaaAAAaAAA1a2AAAAAAAAAAa34a5AA6A</string>
	<key>GCM_SENDER_ID</key>
	<string>123456789012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demotwo</string>
	<key>PROJECT_ID</key>
	<string>demo-two-aa123</string>
	<key>STORAGE_BUCKET</key>
	<string>demo-two-aa123.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123456789012:ios:1aa2aa3aaa3456a78a9012</string>
</dict>
</plist>